<%- include("header") -%>

  <div class="box" id="heading">
    <h1><i class="fas fa-exclamation-circle"></i> Something Went Wrong</h1>
  </div>

  <div class="info">
    Try <a href="/login">logging in again</a> or <a href="/signup">Sign-up</a> to create your To-Do List
  </div>

<%- include("footer") -%>
