  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
  <footer>
    By <a href="https://shreyagarwal13.github.io/shrey_personal_website/">Shrey Agarwal</a>
  </footer>
</html>
